*{
	box-sizing: border-box;
}

html, body{
	height: 100%;
	width:  100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.4;
}

h1{
	margin: 1rem 0;
	font-size: 2rem;
}

h2{
	margin: 1rem 0;
	font-size: 1.4rem;
}

p{
	font-size: 1rem;
}

.wrapper{
	margin: 0 auto;
	width:  600px;
}


